<div class="col-md-8">
  <h3><b>What is a Business Apartment?</b></h3>
  <p>A business apartment has a hall, kitchen, bathroom, living room and bedroom (one, two or three bedrooms).<br><br>
  Tastefully furnished, fully appointed kitchen, washing machine/tumble dryer, cable TV, radio, CD-player and telephone as well as internet connection</p>
  <p>
  <img src="static/assets/img/property_1.jpg" alt="" title="" class="property_img"/>
  </p>
  <p>If you are interested in an apartment with a high service level where nothing is left to chance, the possibility is here.
  <br><br>
  <b>A solid 24-hour service programme ensures repairs, maintenance, administration and comfort.</b></p>
</div>
